{% extends 'base.html.twig' %}

{% block title %}
    Category : {{ slug }}
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">{{ category.name }}</a></li>

    </ol>
    Category : <h1>{{ category.name }}</h1>
    <div class="row">
        {% for product in category.products %}
            <div class="col-md-4 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="card-img-actions"> <img src="{{ product.picture }}" class="card-img img-fluid" width="96" height="350" alt=""> </div>
                    </div>
                    <div class="card-body bg-light text-center">
                        <div class="mb-2">
                            <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">{{ product.shortDescription }}</a> </h6> <a href="#" class="text-muted" data-abc="true">{{ product.name }}</a>
                        </div>

                        <h3 class="mb-0 font-weight-semibold">{{ product.price /100 }} MAD</h3>
                        <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>

                        <button type="button" class="btn bg-cart"><i class="fas fa-money-check-alt"></i> Details</button>
                        <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


