{% extends 'base.html.twig' %}

{% block title %}
    Category : {{ slug }}
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home_page') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('product_category', {'slug': category.slug}) }}">{{ category.name }}</a></li>

    </ol>
    Category : <h1>{{ category.name }}</h1>
    <div class="row">
        {% for product in category.products %}
            <div class="col-md-4 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="card-img-actions"> <img src="{{ product.picture }}" class="card-img img-fluid" width="96" height="350" alt=""> </div>
                    </div>
                    <div class="card-body bg-light text-center">
                        <div class="mb-2">
                            <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">{{ product.shortDescription }}</a> </h6> <a href="#" class="text-muted" data-abc="true">{{ product.name }}</a>
                        </div>

                        <h3 class="mb-0 font-weight-semibold">{{ product.price /100 }} MAD</h3>
                        <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>

                        <a href="{{ path('product_show', {'category_slug': product.category.slug, 'slug': product.slug}) }}" class="btn btn-info" >Details</a>
                        <a href="#" class="btn btn-warning" >Add to cart</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


